/* font-family: 'Bangers', cursive;
font-family: 'Mansalva', cursive;
font-family: 'Roboto', sans-serif; */

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

li {
  list-style: none;
}

button {
  height: 30px;
  border-radius: 8px;
  margin: 0 5px;
}

button:hover {
  cursor: pointer;
  color: rgb(166, 0, 255);
}

input {
  height: 30px;
  width: 200px;
}

textarea {
  height: 100px;
  width: 200px;
}

